/* ~~~~~~~~~~~~~~~~ Navbar ~~~~~~~~~~~~~~~~~~~ */
.navbar {
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.skillstorm_image {
  margin-left: 8em;
}
.main {
  padding: 16px;
  margin-top: 30px;
  margin-top: 5em;
  margin-left: 7em;
}

/* ~~~~~~~~~~~~~~~~~~ Table ~~~~~~~~~~~~~~~~~~~~ */
table {
  margin-left:auto;
  margin-right:auto;
  width: 60%;
  border-collapse: collapse;
  background-color: rgb(252, 247, 227);
  border: 1px solid #f79239;
  text-align: center;
  text-shadow: 0.5px 0.5px white;
  box-shadow: 10px 10px 10px 10px black;
}
.title-bar {
  border-radius: 10px;
  /* background-image: linear-gradient(rgb(245, 200, 77), rgb(255, 230, 0), rgb(245, 200, 77), rgb(245, 200, 77)); */
  background-image: linear-gradient(#f79239, rgb(245, 200, 77), #f79239, #f79239);
}
.row-input:hover {
  background-color: rgb(245, 200, 77);
  box-shadow: inset 0px 0px 8px 0px rgb(255, 230, 0);
}
.title-bar:hover, .row-total:hover, .row-description:hover, .row-no-input:hover{
  background-color: rgb(252, 247, 227);
  box-shadow: none;
}
table .row-no-input:nth-child(odd)
{
    background-color: rgb(252, 235, 210);
}

/* ~~~~~~~~~~~~~~ Buttons ~~~~~~~~~~~~~~~~~~~ */
/* .button-save, .button-submit, .button-minimize, .button-maximize  { */
  button {
  background-color: rgba(245, 200, 77, 0);
  border-style: groove;
  border-width: 0px 1px 0px 1px;
  text-shadow: 0.5px 0.5px white;
  font-weight: 600;
}
.button-minimize {
  text-shadow: 2px 0px black, 0.5px 0.5px 0px 1px white;
}
button:hover {
  background-color: rgb(245, 200, 77);
}
button:active {
  background-color: #f79239;
}
/* ~~~~~~~~~~~~~~~~~~~ Input ~~~~~~~~~~~~~~~~~ */
input {
  border: none;
  text-align: center;
}
input:hover {
  background-color: rgb(245, 200, 77);
  box-shadow: inset 0px 0px 10px 0px rgb(255, 255, 0);
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.not-submitted {
  background-color: rgba(255, 255, 255, 0.4);
  color: red;
  border-style: solid;
  border-width: 0px 1px 0px 1px;
  /* border-radius:40%; */
  font-weight: 600;
  border-color: black;
  text-shadow: 0.5px 0.5px white;
}
